.chakra-ui-light {
  background-image: linear-gradient(to right, #a9f7f7, #ffc0cb) !important;
  min-height: 100vh;
  top: 0;
  bottom: 0;
}
html {
  height: 100vh;
}
body {
  height: 100vh;
  overflow-y: hidden;
}
#root {
  overflow-y: hidden;
  height: 100%;
  overflow-y: hidden;
}
